.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
}

/* Game Info */

ul {
  padding-left: 30px;
}
.game-info {
  margin-left: 20px;
}
.status {
  margin-bottom: 10px;
}

.game-board h1 {
  font-weight: 800;
  color: white;
  font-size: 45px;
}

.game-board p {
  font-weight: 800;
  color: white;
  font-size: 20px;
}
.game-board h3 {
  font-weight: 800;
  color: white;
}
.btn-start {
  font-size: 22px;
  display: inline-block;
  font-weight: 600;
  color: #fafaf4;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: rgba(255, 238, 0, 0.95);
  border: 2px solid #0c0c0c;
  height: 5rem;
  width: 10rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 80px;
}
.btn-start:hover {
  background-color: #ced4da;
}

.table {
  margin-top: 168px;
}

.donald {
  width: "20px";
  height: "20px";
}
