.game {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  height: 200vh;
  width: 100%;
  line-height: 0.5;
  background: linear-gradient(90deg, black 50%, white 50%);
}
.logo {
  width: 50%;
  padding-bottom: 1rem;
  margin: 0;
  vertical-align: middle;
  opacity: 1 !important;
  position: absolute;
  top: 3%;
  left: 51.5%;
  margin-right: -49.5%;
  transform: translate(-50%, -50%);
}
.logo-1 {
  width: 50%;
  padding-bottom: 5rem;
  margin: 0;
  vertical-align: middle;
  opacity: 1 !important;
  position: absolute;
  top: 0;
  left: 51.5%;
  margin-right: -49.5%;
  transform: translate(-50%, -50%);
}

.VS {
  width: 30%;
  padding-bottom: 1rem;
  margin: 0;
  vertical-align: middle;
  opacity: 1 !important;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.VS-1 {
  width: 30%;
  padding-bottom: 1rem;
  margin: 0;
  vertical-align: middle;
  opacity: 1 !important;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* .faces {
  width: 20%;
  padding-bottom: 1rem;
} */
.faces-image {
  width: 70%;
  padding-bottom: 1rem;
}
.text-content {
  justify-content: center;
}
/* Game Info */

ul {
  padding-left: 30px;
}
.game-info {
  margin-left: 20px;
}
.status {
  margin-bottom: 10px;
}

.game-board h1 {
  font-weight: 800;
  color: gray;
  font-size: 45px;
}
.btn-content {
  padding-top: 11rem;
}

.game-board p {
  font-weight: 800;
  color: gray;
  font-size: 18px;
  padding: 5px;
}
.game-board h3 {
  font-weight: 800;
  color: gray;
}

.table {
  margin-top: 70px;
}

.board-white {
  background: url(./img/BATTLEOFPOWER-tierra-white.svg);
  background-size: 100% 100% !important;
  /* -webkit-background-size: cover !important; */
}
.board-black {
  background: url(./img/BATTLEOFPOWER-tierra-black.svg);
  background-size: 100% 100% !important;
  /* -webkit-background-size: cover !important; */
}

.btn-battle {
  font-family: Lato;
  font-size: 50px;
  display: inline-block;
  font-weight: 800;
  color: black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 238, 0, 0.95);
  border: 1px solid #0c0c0c;
  height: 3rem;
  width: 10rem;
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 5px;
}

.btn-instruction {
  font-family: Lato;
  font-size: 50px;
  display: inline-block;
  font-weight: 800;
  color: black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(247, 246, 236, 0.95);
  border: 1px solid #0c0c0c;
  height: 3rem;
  width: 10rem;
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 43px;
}

.btn-close {
  font-family: Lato;
  font-size: 50px;
  display: inline-block;
  font-weight: 600;
  color: black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 13, 13);
  border: 1px solid #0c0c0c;
  height: 2rem;
  width: 8rem;
  font-size: 0.8rem;
  line-height: 1rem;
  border-radius: 0;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  margin: 10px 550px;
}
p.text-1 {
  font-family: Lato;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  /*padding-top: 18px;*/
  color: #555555 !important;
  font-size: 17px;
  line-height: 24px;
  cursor: default;
  width: 950px;
}
.dialog-title {
  font-family: Lato;
  padding-top: 12px;
  background-color: black;
  background-image: -moz-linear-gradient(top, #6b6b6b, #525252); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #333333, #030303); /* IE10 */
  background-image: -o-linear-gradient(
    top,
    #000000,
    #6b6a6a13
  ); /* Opera 11.10+ */
  background-image: linear-gradient(top, #ffffff, #e9e9e9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#E9E9E9'); /* IE6-IE9 */
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 1px solid #1b1b1b;
  color: white;
  filter: dropshadow(color=#0f0f0f, offx=1, offy=1);
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  cursor: default;
}
/*Modal Winner*/
.Modal {
  position: inherit;
  top: 55px;
  left: 100px;
  right: 100px;
  bottom: 55px;
  background-color: rgb(0, 0, 0);
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(8, 8, 8, 0.829);
}
h3 {
  font-family: Lato;
  color: white;
  size: 80px;
  text-align: center;
}

.btn-hidden {
  color: transparent;
  background-color: transparent;
  border: transparent;
  outline: none;
}
.giftdonald {
  display: inline-flex;
  margin: auto;
  width: 100%;
  height: 60%;
  padding: 10px 200px;
}
.gifgreta-trump {
  width: 50%;
  height: 100%;
}

.gifgreta {
  display: inline-flex;
  margin: auto;
  width: 100%;
  height: 65%;
  padding: 10px 100px;
}
.btn-close2 {
  font-family: Lato;
  font-size: 50px;
  display: inline-block;
  font-weight: 600;
  color: black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 13, 13);
  border: 1px solid #0c0c0c;
  height: 2rem;
  width: 8rem;
  font-size: 0.8rem;
  line-height: 1rem;
  border-radius: 0;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  margin: 30px 450px;
}
