.btn-square1 {
  background: transparent;
  border: 1px solid rgb(214, 214, 214);
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  line-height: 60px;
  height: 60px;
  display: inline-block;
  transition: 0.5s;
  font-size: 16px;
}
.btn-square1:focus {
  outline: none;
}
.btn-square1:hover {
  /* background-color: grey; */
  background-image: url(../Views/img/gun-pointer.svg);
}

.btn-pieces-greta {
  background-image: url(../Views/img/trees.svg);
  background-size: cover;
  /* background: red; */
  border: 1px solid gray;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  line-height: 60px;
  height: 60px;
  display: inline-block;
  transition: 0.2s;
  font-size: 16px;
}

.btn-hit-pieces-two {
  background-image: url(../Views/img/trees-fire.svg);
  background-size: cover;
  border: 1px solid gray;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  line-height: 60px;
  height: 60px;
  display: inline-block;
  transition: 0.2s;
  font-size: 16px;
}

.btn-hit-pieces-two-fail {
  background-image: url(../Views/img/close.svg);
  background-size: cover;
  /* background: red; */
  border: 1px solid gray;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  line-height: 60px;
  height: 60px;
  display: inline-block;
  transition: 0.2s;
  font-size: 16px;
}

.btn-pieces-donald {
  background-image: url(../Views/img/factory.svg);
  background-size: cover;
  /* background: red; */
  border: 1px solid gray;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  line-height: 60px;
  height: 60px;
  display: inline-block;
  transition: 0.2s;
  font-size: 16px;
}

.btn-hit-pieces-two {
  background-image: url(../Views/img/trees.svg);
  background-size: cover;
  /* background: red; */
  border: 1px solid gray;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  line-height: 60px;
  height: 60px;
  display: inline-block;
  transition: 0.2s;
  font-size: 16px;
}
